@font-face {
  font-family: 'ostrich-sans';
  src: url('fonts/ostrich-sans.eot'); /* IE9 Compat Modes */
  src: url('fonts/ostrich-sans.eot.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ostrich-sans.eot.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/ostrich-sans.eot.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/ostrich-sans.eot.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/ostrich-sans.eot.svg#svgFontName') format('svg'); /* Legacy iOS */
}



body {
    background-color: #EDE7E7;
}

h1 {
  font-family: 'ostrich-sans';
}
