/*Colors
red = E64747
grey_board = D9CFCF
shadow_board = ABA9A9
background = EDE7E7

*/



@font-face {
    font-family: ostrich-sans;
    src: url(fonts/ostrich-sans.woff);
}



body {
    background-color: #EDE7E7;
}

screen {
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    background-color: #D9CFCF;
    border-radius: 7px;
    box-shadow: 2px 2px 15px #ABA9A9;


}


h1 {
  position: fixed;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
  font-family: 'ostrich-sans';
   text-align: center;
   font-size: 4em;
   color: #E64747;
}
